python_version >= 3.12.4

kedro=0.19.6=pyhd8ed1ab_0
kedro-datasets=3.0.1=pyhd8ed1ab_0
kedro-telemetry=0.5.0=pypi_0
kedro-viz=9.1.0=pypi_0
matplotlib=3.9.1=pypi_0
matplotlib-inline=0.1.6=py312haa95532_0
mlflow=2.14.2=pypi_0
pandas=2.2.2=py312h72972c8_1
seaborn=0.13.2=pypi_0
